@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #d6d4d4;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

html {
    height: 100%;
}

button {
    cursor: pointer;
}

body {
    height: 100%;
    font: 400 14px Roboto, sans-serif;
    background: #EAE9E9;
    -webkit-font-smoothing: antialiased;
}

#root {
    height: 100%;
}


